<a href="https://colab.research.google.com/github/August13CMD/Diplomado/blob/main/basededatos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive

In [3]:
drive.mount("/content/drive")

Mounted at /content/drive

In [4]:
%cd /content/drive/My \Drive/Colab Notebooks

/content/drive/My Drive/Colab Notebooks

In [20]:
bd=pd.read_csv("iris.csv")

In [8]:
bd

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN,NaN,NaN,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN,NaN,NaN,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
95,4.8,3.0,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN
96,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN
97,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN
98,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN
99,5.0,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN

In [9]:
bd.head()

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN,NaN,NaN,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN,NaN,NaN,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN,NaN,NaN

In [10]:
bd.head(10)

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN,NaN,NaN,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN,NaN,NaN,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
5,5.7,2.8,4.5,1.3,Iris-versicolor,NaN,NaN,NaN,NaN
6,6.3,3.3,4.7,1.6,Iris-versicolor,NaN,NaN,NaN,NaN
7,4.9,2.4,3.3,1.0,Iris-versicolor,NaN,NaN,NaN,NaN
8,6.6,2.9,4.6,1.3,Iris-versicolor,NaN,NaN,NaN,NaN
9,5.2,2.7,3.9,1.4,Iris-versicolor,NaN,NaN,NaN,NaN

In [12]:
bd.tail()

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
95,4.8,3.0,1.4,0.3,Iris-setosa,NaN,NaN,NaN,NaN
96,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN,NaN
97,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN
98,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN,NaN
99,5.0,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN,NaN

In [14]:
bd1= pd.read_csv('iris.csv', header = None)
bd1.head()

,0,1,2,3,4,5,6,7,8
0,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,NaN,NaN,NaN,NaN
1,7,3.2,4.7,1.4,Iris-versicolor,NaN,NaN,NaN,NaN
2,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
3,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN,NaN,NaN
4,5.5,2.3,4,1.3,Iris-versicolor,NaN,NaN,NaN,NaN

In [15]:
bd.shape

(101, 9)

In [16]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       101 non-null    object
 1   1       101 non-null    object
 2   2       101 non-null    object
 3   3       101 non-null    object
 4   4       101 non-null    object
 5   5       0 non-null      float64
 6   6       0 non-null      float64
 7   7       0 non-null      float64
 8   8       0 non-null      float64
dtypes: float64(4), object(5)
memory usage: 7.2+ KB

In [18]:
bd.describe(include = 'all')

          0    1    2    3                4    5    6    7    8
count   101  101  101  101              101  0.0  0.0  0.0  0.0
unique   29   24   29   16                3  NaN  NaN  NaN  NaN
top       5    3  1.5  0.2  Iris-versicolor  NaN  NaN  NaN  NaN
freq     10   14   14   28               50  NaN  NaN  NaN  NaN
mean    NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
std     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
min     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
25%     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
50%     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
75%     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN
max     NaN  NaN  NaN  NaN              NaN  NaN  NaN  NaN  NaN

In [22]:
bd["Petal Length (cm)"]

0     4.7
1     4.5
2     4.9
3     4.0
4     4.6
     ...
95    1.4
96    1.6
97    1.4
98    1.5
99    1.4
Name: Petal Length (cm), Length: 100, dtype: float64

In [23]:
bd['Sepal Length (cm)'].mean()

5.471

In [24]:
bd['Sepal Length (cm)'].sum()

547.1

In [26]:
pd.DataFrame(bd.groupby(['Sepal Length (cm)'])['Class'].nunique())

                   Class
Sepal Length (cm)
4.3                    1
4.4                    1
4.5                    1
4.6                    1
4.7                    1
4.8                    1
4.9                    2
5.0                    2
5.1                    2
5.2                    2
5.3                    1
5.4                    2
5.5                    2
5.6                    1
5.7                    2
5.8                    2
5.9                    1
6.0                    1
6.1                    1
6.2                    1
6.3                    1
6.4                    1
6.5                    1
6.6                    1
6.7                    1
6.8                    1
6.9                    1
7.0                    1

In [27]:
bd["Sepal Length (cm)"].min()

4.3

In [28]:
bd["Sepal Length (cm)"].max()

7.0

In [38]:
bd["Sepal Width (cm)"].min()

2.0

In [39]:
bd["Sepal Length (cm)"].max()

7.0

In [41]:

bd1 = bd.drop(columns = ['Unnamed: 5'])
bd1

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN,NaN,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN,NaN,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
95,4.8,3.0,1.4,0.3,Iris-setosa,NaN,NaN,NaN
96,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN,NaN
97,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN,NaN
98,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN,NaN
99,5.0,3.3,1.4,0.2,Iris-setosa,NaN,NaN,NaN

In [42]:
bd2 = bd1.drop(columns = ['Unnamed: 6'])
bd2

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 7,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN,NaN
...,...,...,...,...,...,...,...
95,4.8,3.0,1.4,0.3,Iris-setosa,NaN,NaN
96,5.1,3.8,1.6,0.2,Iris-setosa,NaN,NaN
97,4.6,3.2,1.4,0.2,Iris-setosa,NaN,NaN
98,5.3,3.7,1.5,0.2,Iris-setosa,NaN,NaN
99,5.0,3.3,1.4,0.2,Iris-setosa,NaN,NaN

In [43]:
bd3 = bd2.drop(columns = ['Unnamed: 7'])
bd3

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class,Unnamed: 8
0,7.0,3.2,4.7,1.4,Iris-versicolor,NaN
1,6.4,3.2,4.5,1.5,Iris-versicolor,NaN
2,6.9,3.1,4.9,1.5,Iris-versicolor,NaN
3,5.5,2.3,4.0,1.3,Iris-versicolor,NaN
4,6.5,2.8,4.6,1.5,Iris-versicolor,NaN
...,...,...,...,...,...,...
95,4.8,3.0,1.4,0.3,Iris-setosa,NaN
96,5.1,3.8,1.6,0.2,Iris-setosa,NaN
97,4.6,3.2,1.4,0.2,Iris-setosa,NaN
98,5.3,3.7,1.5,0.2,Iris-setosa,NaN
99,5.0,3.3,1.4,0.2,Iris-setosa,NaN

In [44]:
bd4 = bd3.drop(columns = ['Unnamed: 8'])
bd4

,Sepal Length (cm),Sepal Width (cm),Petal Length (cm),Petal Width (cm),Class
0,7.0,3.2,4.7,1.4,Iris-versicolor
1,6.4,3.2,4.5,1.5,Iris-versicolor
2,6.9,3.1,4.9,1.5,Iris-versicolor
3,5.5,2.3,4.0,1.3,Iris-versicolor
4,6.5,2.8,4.6,1.5,Iris-versicolor
...,...,...,...,...,...
95,4.8,3.0,1.4,0.3,Iris-setosa
96,5.1,3.8,1.6,0.2,Iris-setosa
97,4.6,3.2,1.4,0.2,Iris-setosa
98,5.3,3.7,1.5,0.2,Iris-setosa
99,5.0,3.3,1.4,0.2,Iris-setosa